.header__container {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: var(--header-color);
  font-family: var(--font-main);
  font-weight: 400;
}

.header__camera {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  transform: scale(1);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__camera:hover {
  color: var(--header-color-hover);
  transform: scale(1.1);
}

.nav {
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: 1rem;
  font-family: var(--font-main);
  font-size: 2rem;
  line-height: 5rem;
  transition: right 0.4s ease-in-out;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  transform: scale(1);
  width: max-content;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav__item:hover {
  color: var(--nav-item-color-hover-1440);
  transform: scale(1.2);
}

.header__change-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 8.9rem;
  margin-right: 3.5rem;
  width: 100%;
  font-family: var(--font-main);
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.change-language__input {
  display: none;
}

.change-language__label {
  transform: scale(1);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.change-language__label:hover {
  color: var(--header-color-hover);
  transform: scale(1.2);
}

.change-language__label_active {
  color: var(--header-color-checked-radio);
}

.change-theme__input {
  display: none;
}

.change-theme__label {
  cursor: pointer;
  margin-right: 0.5rem;
  color: var(--header-color-change-label);
  transform: scale(1);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.change-theme__label:hover {
  color: var(--header-color-hover);
  transform: scale(1.2);
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    overflow: hidden;
  }

  .header__container {
    padding: 2rem 0;
    justify-content: space-between;
    max-width: 76.8rem;
  }

  .nav {
    position: absolute;
    top: 0;
    right: -100vw;
    max-width: 100vw;
    margin-right: 0;
    overflow: hidden;
    min-height: 150rem;
  }

  .nav_active {
    right: 0;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.6rem;
    max-width: 62rem;
    width: 100%;
    height: 100%;
    padding: 13.4rem 0 0 12.7rem;
    color: var(--nav-list-color);
    background-color: var(--nav-list-background);
  }

  .nav__item {
    font-size: 3.5rem;
    line-height: 7.3rem;
  }

  .nav__item:hover {
    color: var(--nav-item-color-hover-768);
    transform: scale(1.2);
  }

  .header__change-language {
    max-width: 8.2rem;
    width: 100%;
    margin-left: auto;
    margin-right: 3rem;
  }

  .change-theme__label {
    margin-right: 3.5rem;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 580px) {
  .header__container {
    padding: 2rem 1rem;
    justify-content: space-around;
  }

  .header__camera {
    width: 4rem;
    height: 4rem;
  }

  .nav__list {
    padding: 7rem 2rem 0;
    align-items: center;
  }

  .header__change-language {
    margin-left: 0;
    margin-right: 0;
  }

  .change-theme__label {
    margin-right: 0;
  }
}
