.white-theme {
  --default-background-color: #ffffff;
  --background-color-is-active-menu: #000000;
  --background-color-button: #ffffff;
  --button-color-text: #1c1c1c;
  --title-wrapper-background: #1c1c1c;
  --title-color-text: #1c1c1c;
  --title-background: #ffffff;
  --header-color: #1c1c1c;
  --header-color-hover: #ffffff;
  --header-color-change-label: #1c1c1c;
  --header-color-checked-radio: #ffffff;
  --nav-list-color: #1c1c1c;
  --nav-list-background: #ffffff;
  --nav-item-color-hover-1440: #ffffff;
  --nav-item-color-hover-768: #bdae82;
  --burger-color: #1c1c1c;
  --hero-color: #1c1c1c;
  --hero-background-button: #ffffff;
  --hero-background-button-hover: #1c1c1c;
  --hero-button-color-hover: #bdae82;
  --hero-desc-color-shadow: #ffffff;
  --skills-color-text: #1c1c1c;
  --skills-color-icons: #bdae82;
  --portfolio-button-color-border: #bdae82;
  --portfolio-button-background: #bdae82;
  --portfolio-button-color-text: #1c1c1c;
  --portfolio-button-color-text-hover: #ffffff;
  --portfolio-button-color-border-active: #bdae82;
  --button-background-active: #1c1c1c;
  --button-color-text-active: #bdae82;
  --video-color-button: #ffffff;
  --video-color-button-hover: #bdae82;
  --price-color-text: #1c1c1c;
  --price-card-border: #bdae82;
  --price-color-price: #bdae82;
  --price-background-button: #bdae82;
  --price-color-button: #1c1c1c;
  --price-background-button-hover: #1c1c1c;
  --price-color-button-hover: #bdae82;
  --contacts-color-text: #1c1c1c;
  --contacts-border-input: #bdae82;
  --contacts-background-input: rgba(255, 255, 255, 0.5);
  --contacts-color-button-hover: #bdae82;
  --contacts-background-button-hover: #1c1c1c;
  --footer-color-text: #1c1c1c;
  --footer-color-hover: #bdae82;
}